/*
Author: Holly Schwecke
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.header {
    display: flex;
    align-items: center; /* vertically centers the image and text */
    text-align: center;
    position: absolute;
    top: 0;
    width: 100;
    padding: 20px;
    white-space: nowrap;
}

.icon {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.PRU {
    font-size: 20px;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8 px rgba(0, 0, 0. 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 15px; /* space between form groups */
    text-align: left;
}

label {
    display: block; /* make labels block elements */
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #504136ff;
    color: white; /* text color */
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #a48c79ff; 
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}
