/*  
Author: Claire Lueking, CSPB 3308 Fall 2024
Purpose: Create CSS for login page to make it look more professional
Usage: utilize the HTML file that this login page is connected to "login.html" to adjust the styling of the HTML page
*/

/* Color Palette
--taupe: #504136ff;
--beaver: #a48c79ff;
--rich-black: #050d10ff;
--white: #fcfcfcff; */

/* Reset basic styles to defaults in case their are issues */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body of page styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

/* Styles for main container for information on the page */
.container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Styles for header "Pets-R-Us ..." */
.headerinfo {
    width: 100%;                 
    max-width: 600px;           
    text-align: center;          
    padding: 20px;               
    margin-bottom: 30px;         
    color: black;                
    border-radius: 5px; 
    font-family: "Spectral SC", serif;
    font-weight: 400;
    font-style: normal;
}

/* Icon adjustments */
.icon {
    width: 50px; 
    height: 50px; 
    margin-right: 8px; 
    vertical-align: middle; 
}

/* Container for the login form */
.login-container {
    background-color: #a48c79ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    font-family: "Spectral SC", serif;
    font-weight: 800;
    font-style: normal;
}

/* Style the labels on the form */
.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
    font-family: "Spectral SC", serif;
    font-weight: 800;
    font-style: normal;
}

/* Style the input fields of the form */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Spectral SC", serif;
    font-weight: 400;
    font-style: normal;
}

/* Style the submit button */
.login-container input[type="submit"] {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Spectral SC", serif;
    font-weight: 400;
    font-style: normal;
}

/* Styles the hover function over the submit button */
.login-container input[type="submit"]:hover {
    background-color: #504136ff;
    transform: scale(1.05);
}

/* Responsive changes for smaller screens */
@media screen and (max-width: 600px) {
    .login-container {
        padding: 15px;
        width: 90%;
    }
}
