<!--
    Author: Holly Schwecke
-->

<!DOCTYPE html>
<html lang = 'en'>
    <link rel = "icon" href = "../static/front_images/pawprint_128.png" type = "image/x-icon"> <!-- from Therese -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/addproduct.css" type="text/css" rel="stylesheet"/>
        <!-- Google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;800&display=swap" rel="stylesheet">
        <title>Add Product</title>
    </head>
    <body>
        <!-- header w/ icon -->
        <div class="container">
            <div class="header">
                <img src="../static/front_images/pawprint_128.png" alt="brown pawprint icon" class="icon">
                <span class="PRU">PETS-R-US Inventory System</span>
            </div>
            <!-- start of product info entries -->
            <form action="/addproduct" method="POST" enctype="multipart/form-data"> <!-- enctype required when uploading images -->
                <div class="form-group">
                    <label for="product-name">Product Name:</label>
                    <input type="text" id="product-name"required> <!-- input product name -->
                </div>
                <div class="form-group">
                    <label for="category">Product Category:</label>
                    <select id="category" name="category" required> <!-- input product category -->
                        <option value="" disabled selected>Select a category</option>
                        <option value="dog-food">Dog food</option>
                        <option value="cat-food">Cat Food</option>
                        <option value="dog-toy">Dog Toy</option>
                        <option value="cat-toy">Cat Toy</option>
                        <option value="dog-treat">Dog Treat</option>
                        <option value="cat-treat">Cat Treat</option> 
                    </select>
                </div> 
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" id="price" step="0.01" required> <!-- input price -->
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4" required></textarea> <!-- text box for desc -->
                </div>
                <div class="form-group">
                    <label for="quantity">Available Quantity:</label>
                    <input type="number" id="quantity" min="0" required> <!-- input for quantity -->
                </div>
                <div class="form-group">
                    <label for="picture">Upload Product Images:</label>
                    <input type="file" id="images" name="images" accept="image/*" multiple required> <!-- input for images -->
                <button class="icon-button">
                        <img src="../static/front_images/plus-6-128.png" alt="brown plus sign" class="icon">
                </button>
            </form>
        </div>
        <script src="./static/jacvascript/addproduct.js"></script>
    </body>
</html>
