<!--
Author: Therese Goshen
Purpose: Create a main page for users to view the company's mission and information. Create a link to the create account page.
-->
<!DOCTYPE html>
<html lang="en">
    <link rel = "icon" href = "../static/front_images/pawprint_128.png" type = "image/x-icon">
    <body>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="../static/css/main_page.css" type="text/css" rel="stylesheet"/>
            <!-- Added Google font info -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;800&display=swap" rel="stylesheet">
            <!-- Title of Page (shows up on tab) -->
            <title>Pets-R-Us</title>
        
        </head>
        <nav>
            <a href="#about-us">About Us</a>
            <a href="#mission">Mission</a>
            <a href="../templates/createaccount.html">Create Account</a>
        </nav>

        <div class="container">
            <section id="about-us" class="section">
                <h2>About Us</h2>
                <p>Welcome to Pets-R-Us! We’re excited to share our new, streamlined inventory system, designed to enhance the efficiency and professionalism of managing inventory for our store. This system was developed by a talented team of three developers—Claire, Holly, and Therese—each of whom brought their unique skills and dedication to the project.</p>
                <p> From personal experience with insufficient software and current market offerings for pet digital storefronts, we wanted to improve inventory tracking efficiency. This will provide customers with a less frustrating and more enjoyable experience when shopping for our fur babies. This system creates a fresh take on typical inventory management systems that is more user-oriented and secure when updating inventory levels.</p>
            </section>

            <section id="mission" class="section">
                <h2>Our Mission</h2>
                <p>Our goal at Pets-R-Us has always been to make pet ownership easier and more enjoyable. With the new inventory system, we’re now able to provide a more reliable, organized approach to inventory management, allowing our team to focus on what matters most—serving you and your pets. We’re grateful to Claire, Holly, and Therese for their hard work and dedication in making this system a reality!</p>
            </section>

        </div>

        <footer>
            <p>&copy; 2024 Pets-R-Us</p>
        </footer>
    </body>
</html>